.yt-uix-button-switch-to-new-look {
    margin-right: 10px;
    background: #f00;
    border-color: #f00;
}

.yt-uix-button-switch-to-new-look:hover,
.yt-uix-button-switch-to-new-look:active {
    background: #444;
    border-color: #444;
}

@keyframes popupContainerInserted {
    from {
        display: block;
    }
    to {
        display: block;
    }
}

ytd-popup-container #container #sections
yt-multi-page-menu-section-renderer:last-child #items
ytd-compact-link-renderer:first-child {
    animation-name: popupContainerInserted;
    animation-duration: 0.01s;
}
