html {
	font-size: 1rem;
}

.table {
	display: table;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
	margin-left: 6px;
	margin-right: 6px;
}

.nowrap {
	white-space: nowrap;
}